input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.container { 
    width: 100vw;
    min-height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.accordion { 
    width: 70%;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.tab-label { 
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 38px;
    cursor: pointer;
    -webkit-text-stroke: 1px black;
    color: white;
}

.tab {
    width: 100%;
    overflow: hidden;
    &-content {
        opacity: 0;
        max-height: 0;
        padding: 0 1em;
        color: blue;
        background: white;
        transition: all ease-in-out .6s;
    }
}


input:checked {
    + .tab-label {
        color: pink;
    }
    ~ .tab-content  {
        opacity: 100%;
        display: block;
        max-height: 100vh;
        padding: 1em;
    }

  }
  