input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.container { 
    width: 100vw;
    min-height: 50vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.accordion { 
    width: 70%;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.tab-label { 
    transition: all .37s ease-in-out;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 44px;
    cursor: pointer;
    color: black;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    -webkit-background-clip: text;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(180deg, rgba(102,163,228,1) 0%, rgba(0,212,255,1) 100%);       
    background-clip: text;
    background-position: 0px 70px;
    background-repeat: no-repeat;

    &:hover { 
        background-position: 0px 0px;
    }
}

.tab {
    width: 100%;
    overflow: hidden;
    padding: 5px 0;
    &-content {
        opacity: 0;
        max-height: 0;
        padding: 0 1em;
        margin-top: 10px;
        color: black;
        background: white;
        transition: all ease-in-out .6s;
    }
}

.tab-img { 
    max-width: 500px;
}

input:checked {
    + .tab-label {
        background-position: 0 0px;
    }
    ~ .tab-content  {
        opacity: 100%;
        display: block;
        max-height: 100vh;
        padding: 1em;
    }

  }
  